<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdcao.house.dao.HouseDetailMapper">
  <resultMap id="BaseResultMap" type="com.xdcao.house.entity.HouseDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="layout_desc" jdbcType="VARCHAR" property="layoutDesc" />
    <result column="traffic" jdbcType="VARCHAR" property="traffic" />
    <result column="round_service" jdbcType="VARCHAR" property="roundService" />
    <result column="rent_way" jdbcType="INTEGER" property="rentWay" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="subway_line_id" jdbcType="INTEGER" property="subwayLineId" />
    <result column="subway_line_name" jdbcType="VARCHAR" property="subwayLineName" />
    <result column="subway_station_id" jdbcType="INTEGER" property="subwayStationId" />
    <result column="subway_station_name" jdbcType="VARCHAR" property="subwayStationName" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, description, layout_desc, traffic, round_service, rent_way, address, subway_line_id, 
    subway_line_name, subway_station_id, subway_station_name, house_id
  </sql>
  <select id="selectByExample" parameterType="com.xdcao.house.entity.HouseDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from house_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from house_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from house_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdcao.house.entity.HouseDetailExample">
    delete from house_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdcao.house.entity.HouseDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house_detail (description, layout_desc, traffic, 
      round_service, rent_way, address, 
      subway_line_id, subway_line_name, subway_station_id, 
      subway_station_name, house_id)
    values (#{description,jdbcType=VARCHAR}, #{layoutDesc,jdbcType=VARCHAR}, #{traffic,jdbcType=VARCHAR}, 
      #{roundService,jdbcType=VARCHAR}, #{rentWay,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{subwayLineId,jdbcType=INTEGER}, #{subwayLineName,jdbcType=VARCHAR}, #{subwayStationId,jdbcType=INTEGER}, 
      #{subwayStationName,jdbcType=VARCHAR}, #{houseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xdcao.house.entity.HouseDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="description != null">
        description,
      </if>
      <if test="layoutDesc != null">
        layout_desc,
      </if>
      <if test="traffic != null">
        traffic,
      </if>
      <if test="roundService != null">
        round_service,
      </if>
      <if test="rentWay != null">
        rent_way,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="subwayLineId != null">
        subway_line_id,
      </if>
      <if test="subwayLineName != null">
        subway_line_name,
      </if>
      <if test="subwayStationId != null">
        subway_station_id,
      </if>
      <if test="subwayStationName != null">
        subway_station_name,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="layoutDesc != null">
        #{layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="roundService != null">
        #{roundService,jdbcType=VARCHAR},
      </if>
      <if test="rentWay != null">
        #{rentWay,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null">
        #{subwayLineId,jdbcType=INTEGER},
      </if>
      <if test="subwayLineName != null">
        #{subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="subwayStationId != null">
        #{subwayStationId,jdbcType=INTEGER},
      </if>
      <if test="subwayStationName != null">
        #{subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xdcao.house.entity.HouseDetailExample" resultType="java.lang.Long">
    select count(*) from house_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update house_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.layoutDesc != null">
        layout_desc = #{record.layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.traffic != null">
        traffic = #{record.traffic,jdbcType=VARCHAR},
      </if>
      <if test="record.roundService != null">
        round_service = #{record.roundService,jdbcType=VARCHAR},
      </if>
      <if test="record.rentWay != null">
        rent_way = #{record.rentWay,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.subwayLineId != null">
        subway_line_id = #{record.subwayLineId,jdbcType=INTEGER},
      </if>
      <if test="record.subwayLineName != null">
        subway_line_name = #{record.subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="record.subwayStationId != null">
        subway_station_id = #{record.subwayStationId,jdbcType=INTEGER},
      </if>
      <if test="record.subwayStationName != null">
        subway_station_name = #{record.subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="record.houseId != null">
        house_id = #{record.houseId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update house_detail
    set id = #{record.id,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      layout_desc = #{record.layoutDesc,jdbcType=VARCHAR},
      traffic = #{record.traffic,jdbcType=VARCHAR},
      round_service = #{record.roundService,jdbcType=VARCHAR},
      rent_way = #{record.rentWay,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      subway_line_id = #{record.subwayLineId,jdbcType=INTEGER},
      subway_line_name = #{record.subwayLineName,jdbcType=VARCHAR},
      subway_station_id = #{record.subwayStationId,jdbcType=INTEGER},
      subway_station_name = #{record.subwayStationName,jdbcType=VARCHAR},
      house_id = #{record.houseId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdcao.house.entity.HouseDetail">
    update house_detail
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="layoutDesc != null">
        layout_desc = #{layoutDesc,jdbcType=VARCHAR},
      </if>
      <if test="traffic != null">
        traffic = #{traffic,jdbcType=VARCHAR},
      </if>
      <if test="roundService != null">
        round_service = #{roundService,jdbcType=VARCHAR},
      </if>
      <if test="rentWay != null">
        rent_way = #{rentWay,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="subwayLineId != null">
        subway_line_id = #{subwayLineId,jdbcType=INTEGER},
      </if>
      <if test="subwayLineName != null">
        subway_line_name = #{subwayLineName,jdbcType=VARCHAR},
      </if>
      <if test="subwayStationId != null">
        subway_station_id = #{subwayStationId,jdbcType=INTEGER},
      </if>
      <if test="subwayStationName != null">
        subway_station_name = #{subwayStationName,jdbcType=VARCHAR},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdcao.house.entity.HouseDetail">
    update house_detail
    set description = #{description,jdbcType=VARCHAR},
      layout_desc = #{layoutDesc,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      round_service = #{roundService,jdbcType=VARCHAR},
      rent_way = #{rentWay,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      subway_line_id = #{subwayLineId,jdbcType=INTEGER},
      subway_line_name = #{subwayLineName,jdbcType=VARCHAR},
      subway_station_id = #{subwayStationId,jdbcType=INTEGER},
      subway_station_name = #{subwayStationName,jdbcType=VARCHAR},
      house_id = #{houseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>